/* Global Styles */

body {
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}

a {
	color: #007bff;
	text-decoration: none;
}

a:hover {
	color: #0056b3;
	text-decoration: underline;
}

/* Navigation Bar Styles */

.navbar-brand {
	font-size: 1.5rem;
	font-weight: 700;
}

.navbar-nav .nav-link {
	font-size: 1.25rem;
	font-weight: 500;
}

/* Section Styles */

.resume-section {
	padding: 3rem 0;
}

.resume-section h2 {
	font-size: 2.5rem;
	font-weight: 700;
	margin-bottom: 2rem;
}

.resume-section h3 {
	font-size: 1.5rem;
	font-weight: 700;
	margin-bottom: 1rem;
}

.resume-section p {
	margin-bottom: 1rem;
}

.resume-section ul {
	margin-bottom: 1rem;
}

.resume-section li {
	margin-bottom: 0.5rem;
}


.image-gallery {
	display: flex;
	flex-wrap: wrap;
}
  
.gallery-item {
	flex: 0 0 33.33%; /* Adjust this value to control the width of each gallery item */
	padding: 10px;
	box-sizing: border-box;
}
  
.gallery-item img {
	max-width: 100%;
	height: auto;
}  

/* Media Query */

@media (min-width: 992px) {
	.resume-section {
		padding: 7rem 0;
	}
}
