@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header, footer {
    background-color: #222; /* Darker gray/black */
    color: white;
    padding: 1em 1.5em; /* Reduced size */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    font-weight:bold;
    text-decoration: none;
    color: white; /* Dark red text */
    text-shadow: 2px 2px darkred;
    /*background-color: white;
    /*padding: 3px 10px;
    /*border-radius: 3px;*/
}

nav a:hover {
    background-color: #f4f4f9; /* Slightly off-white on hover */
    color: darkred; /* Ensure text color stays consistent */
    text-shadow: none;
}


main a {
    color: darkred; /* Dark red for links in the main content */
}

.button {
    margin-left: auto;
    order: 1;
    background-color: white; /* White background for contrast */
    color: darkred; /* Dark red text */
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid darkred; /* Slight border */
    cursor: pointer;
}

.button:hover {
    background-color: #f4f4f9; /* Slightly off-white hover */
}

main {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.8em 1.5em; /* Reduced size */
}
